.formControl {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  &--invalid {
    input {
      background-color: var(--color-danger-100);
    }
  }
}

.errorText {
  color: var(--color-danger-500);
}

.submitBut {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 4px 16px;
  margin-top: 16px;
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
